@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700);
*, body, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #000;
	font-family: Raleway, sans-serif;
}
a, a:hover, a:focus, a:active{
	text-decoration: none;
}
ul, li{
	list-style: none;
}
.btn:focus, .btn, input[type="text"]:focus{
	outline: none;
}
header{
	background: url(../img/honda-s2000-kolesa-vyhlopnye.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
}
header .head{
	width: 56%;
	-webkit-transition: all 1.0s ease-in-out;
-moz-transition: all 1.0s ease-in-out;
-ms-transition: all 1.0s ease-in-out;
-o-transition: all 1.0s ease-in-out;
transition: all 1.0s ease-in-out;
	text-align: center;
	color: #fff;
	position: absolute;
	top: -50%;
	left: 50%;
	 -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
section.models .bg-ferrari{
	position: relative;
	background: url(../img/2015-land-rover-range-rover-3113.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models .bg-macan{
	position: relative;
	background: url(../img/porsche_macan_1280x1024.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models .bg-audi{
	position: relative;
	background: url(../img/audi-q7-02.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.logo{
	-webkit-transition: all 1.5s ease-in-out;
-moz-transition: all 1.5s ease-in-out;
-ms-transition: all 1.5s ease-in-out;
-o-transition: all 1.5s ease-in-out;
transition: all 1.5s ease-in-out;
    max-width: 20%;
    background-position: 0 0;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: -50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.logo img{
 max-width: 100%;
}
header nav.nav ul li a{
	position: relative;
	z-index: 2;
	display: inline-block;
	width: 2px;
	height: 2px;
	border-radius: 50%;
	background: #c3c3c3;
	margin: 6px;
	vertical-align: middle;
}
header .head p{
	font-size: 14px;
}
header .head h2{
	margin-bottom: 35px;
	font-size: 24px;
}
a.join{
	font-weight: 600;
	margin-top: 30px;
	color: #fff;
	font-size: 14px;
	border-radius: 25px;
	border: 3px solid #fff;
	display: inline-block;
	padding: 4px 32px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
a.join:hover{
	background: #000;
	border-color: transparent;
}
a.joinnow{
	z-index: 4;
	position: fixed;
	right: -50%;
	top: 3%;
	margin: 0;
	-webkit-transition: all .8s ease-in-out;
-moz-transition: all .8s ease-in-out;
-ms-transition: all .8s ease-in-out;
-o-transition: all .8s ease-in-out;
transition: all .8s ease-in-out;
}
.social{
	position: fixed;
	right: 1.2%;
	bottom: 3%;
	z-index: 4;
}
.social ul li a .fa{
	position: relative;
	left: 50%;
	top: 50%;
	
	color: #fff;
	font-size: 18px;
	 -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	
}
.social ul li a:hover{
	background: #000;
	border-color: #000;
}
.social ul li a{
	margin-top: 5px;
	display: inline-block;
	width:  40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
header .head h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
}
header .head h1 span{
	font-size: 1.25em;
	font-weight: 700;
	margin: 0;
}
header nav.nav ul li{
	border: 2px solid transparent;
}
.grad{
	background: rgba(0,0,0, 0.5);
	height: 100vh;
}
header nav.nav ul li{
	position: relative;
	left: 4px;
}
header a.menu{
	/* text-align: center; */
	text-align: center;
	position: fixed;
	left: -50%;
	z-index: 5;
	top: 3%;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	border: 2px solid #fff;
		-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	/* transform: rotate(90deg); */
}
a.menu span{
	margin: 3px auto;
	display: block;
	background: #fff;
	height: 9px;
	width: 9px;
	border-radius: 50%;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
header nav.nav ul li:nth-child(5n+1) a{
width: 8px;
height: 8px;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
header nav.nav ul li:nth-child(5n+1){
	display: inline-block;
	left: 0;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
header nav.nav ul li:nth-child(5n+1) + span{
	opacity: 0;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
header nav.nav ul li:nth-child(5n+1):hover {
	border: 2px solid #fff;
	border-radius: 50%;
}

header nav.nav ul li:nth-child(5n+1):hover a{
	background: #fff;
}
header nav.nav ul li:nth-child(5n+1):hover + span{
	opacity: 1;
	margin-left: 20px;
}
header nav.nav ul{
	z-index: 2;
	position: fixed;
	left: 2%;
-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	-ms-transition: all 0.8s ease-in-out;
	-o-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
	top: 150%;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.navigation{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background: #000;
	display: none;
}
.navigation ul li a{
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
		-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}

.navigation ul li{
margin-top: 1000px;
	margin-bottom: 20px;
		-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.navigation ul{
	text-align: center;
	margin: 0;
	position: absolute;
	top: 60%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.navigation ul li.anim:nth-child(odd) a:after{
	left: -100%;
	top: 50%;
	position: absolute;
	float: left;
	content: "";
	width: 100%;
	opacity: 0;
	height: 4px;
	background: #fff;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.navigation ul li.anim a:hover:after{
	left: 200%;
	width: 0;
	opacity: 1;
}
.navigation ul li.anim:nth-child(even) a:before{
	right: -100%;
	top: 50%;
	position: absolute;
	float: right;
	content: "";
	width: 100%;
	height: 4px;
	opacity: 0;
	background: #fff;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
		-webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.navigation ul li.anim a:hover:before{
	right: 200%;
	width: 0;
	opacity: 1;
}
.navigation ul li.anim a:hover{
	color: rgba(255,255,255,0.5);
}


header a.open-menu span{
	display: block;
	background: #fff;
	height: 2px;
	width: 29px;
	border-radius: 0;
	margin-top: 12px;
}
header a.open-menu span:first-child{
	display: none;
}
header a.open-menu span:nth-child(2){
	transform: rotate(0deg);
	margin-top: 20px;
}

header a.open-menu span:last-child{
	transform: rotate(90deg);
	margin-top: -5px;
}
.navigation ul li.anim{
	margin-top: 0; 
}
section.lala{
	/*background: url(../img/2015-bmw-750li-xdrive-788.jpg) no-repeat center;
	background-size: cover;*/
	height: 100vh;
}
header nav.nav ul li.active{
	border-radius: 50%;
	border: 2px solid #fff;
}
header nav.nav ul li + span.active{
	opacity: 1;
	margin-left: 20px;
}
section.models .ferrari{
	margin-top: 550px;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 65%;
	left: 50%;
	 -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models .bg-rolls{
	position: relative;
	background: url(../img/rolls.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	top: 0;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models .bg-mercedes{
	position: relative;
	background: url(../img/mercedes-benz_gl_550_amg_sports_package_3.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	top: 0;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models .bg-vaz{
	position: relative;
	background: url(../img/vaz-2101-11.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	top: 0;
	left: 0;
	  -webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
section.models  p{
	font-size: 14px;
}
section.models  h5{
	margin-bottom: 35px;
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 300;
}
section.models  h6{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
section.models  a.next-lot, section.models  a.prev-lot{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 3px solid #fff;
			-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
section.models  a.next-lot, section.models  a.prev-lot .fa{
	line-height: 24px;
	vertical-align: sub;
	color: #fff;
	font-size: 24px;
}
section.models  a.next-lot:hover, section.models  a.prev-lot:hover{
background: #000;
	border-color: transparent;
}
section.models  .book{
	display: block;
	width: 150.3px;
	margin-top: 90px;
	left: 50%;
	position: relative;
	-webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #fff;
    color: #000;
}
section.models  .book:hover{
	background: #000;
	color: #fff;
}
section.models .item .ferrari{
	left: 100%;
	opacity: 0;
	width: 50%;
	-moz-transition: all .8s ease-in-out;
-ms-transition: all .8s ease-in-out;
-o-transition: all .8s ease-in-out;
transition: all .8s ease-in-out;
}
section.models .active .ferrari{
	left: 50%;
	opacity: 1;
}

section.models .item .ferrari h6{
		-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
margin-left: 50%;
}
section.models .active .ferrari h6{
	margin-left: 0;
}
section.models .item .ferrari h5{
		-moz-transition: all 1.0s ease-in-out;
-ms-transition: all 1.0s ease-in-out;
-o-transition: all 1.0s ease-in-out;
transition: all 1.0s ease-in-out;
margin-left: 50%;
}
section.models .active .ferrari h5{
	margin-left: 0;
}
section.models .item .ferrari p{
		-moz-transition: all 1.5s ease-in-out;
-ms-transition: all 1.5s ease-in-out;
-o-transition: all 1.5s ease-in-out;
transition: all 1.5s ease-in-out;
margin-left: 70%;
}
section.models .active .ferrari p{
	margin-left: 0;
}
section.models .item .ferrari a.prev-lot{
		-moz-transition: all 2.0s ease-in-out;
-ms-transition: all 2.0s ease-in-out;
-o-transition: all 2.0s ease-in-out;
transition: all 2.0s ease-in-out;
margin-left: 50%;
}
section.models .active .ferrari a.prev-lot{
	margin-left: 0;
}
section.models .item .ferrari a.book{
		-moz-transition: all 2.0s ease-in-out;
-ms-transition: all 2.0s ease-in-out;
-o-transition: all 2.0s ease-in-out;
transition: all 2.0s ease-in-out;
margin-left: 100%;
}
section.models .active .ferrari a.book{
	margin-left: 0;
}
section.lala ul li img{
	height: 100vh;
	position: relative;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	-webkit-filter: grayscale(100%);  
}
section.lala ul li{
	z-index: 2;
	overflow: hidden;
	position: relative;
	display: inline-block;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
section.lala ul:hover li{
	-webkit-filter: brightness(10%); 
}
section.lala ul:hover img{
	-webkit-filter: grayscale(0%); 

}
section.lala ul li:hover{
	-webkit-filter: brightness(100%); 
	width: 20.22% !important;
	margin-left: -48px;
	transform:translateX(10.11%);
	position:relative;
	z-index: 3; 
}
section.lala ul li:hover img{
	-webkit-filter: grayscale(0%); 
	margin-left: 24px;
}
section.lala ul li:last-child:hover{
	width: 20.22% !important;
	transform:translateX(0%);
	margin-left: -48px;
	
}
section.lala ul li:last-child:hover img{
	margin-left: 48px; 
 	-webkit-filter: grayscale(0%);  
}

section.lala ul li:first-child:hover{
	width: 20.22% !important;
	margin-right: -48px;
	margin-left: 0px;
	transform:translateX(0%);
	z-index: 3;
}
section.lala ul li:first-child:hover img{
	margin-right: -48px; 
 	-webkit-filter: grayscale(0%);  
 	margin-left: 0;
}

section.lala ul {
	margin: 0;

}
section.about{
	background: url(../img/bgabout.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	position: relative;
}

section.about .head{
	margin-top: 550px;
	-webkit-transition: all .7s ease-in-out;
-moz-transition: all .7s ease-in-out;
-ms-transition: all .7s ease-in-out;
-o-transition: all .7s ease-in-out;
transition: all .7s ease-in-out;
	width: 56%;
	-webkit-transition: all 1.0s ease-in-out;
-moz-transition: all 1.0s ease-in-out;
-ms-transition: all 1.0s ease-in-out;
-o-transition: all 1.0s ease-in-out;
transition: all 1.0s ease-in-out;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	 -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
section.about .head p{
	font-size: 22px;
}
section.about .head h2{
	margin-bottom: 35px;
	font-size: 24px;
}
section.about .head h1{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 300;
}
section.about .head h1 span{
	font-size: 1.25em;
	font-weight: 700;
	margin: 0;
}
.head a.join{
	display: block;
	width: 20%;
	margin: 30px auto 0;
}

section.service{
	background: url(../img/mashina_pod_dojdem_wallpapers.jpg) no-repeat center;
	background-size: cover;
	height: 100vh;
	position: relative;
}
section.service .head{
	margin-top: 550px;
	text-align: center;
	width: 56%;
	-webkit-transition: all .9s ease-in-out;
-moz-transition: all .9s ease-in-out;
-ms-transition: all .9s ease-in-out;
-o-transition: all .9s ease-in-out;
transition: all .9s ease-in-out;
	text-align: center;
	color: #fff;
	position: absolute;
	top: 40%;
	left: 50%;
	 -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
section.service .head h1{
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
}
section.service .head ul li{
	display: inline-block;
	margin-left: 20px;
	border-bottom: 2px solid;
	border-color: transparent;
}
section.service .head ul li:hover{
	border-color: #fff;
}
section.service .head ul li:hover a{
	color: #fff;
}
section.service .head ul li a{
	color: #c3c3c3;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
}
section.service .head ul{
	margin-bottom: 50px;
}
.updown{
	position: fixed;
	left: 1.2%;
	bottom: 3%;
	z-index: 4;
}
a.pageup, a.pagedown{
	-webkit-transition: all .7s ease-in-out;
-moz-transition: all .7s ease-in-out;
-ms-transition: all .7s ease-in-out;
-o-transition: all .7s ease-in-out;
transition: all .7s ease-in-out;
}
.updown ul li a .fa{
	position: relative;
	left: 50%;
	top: 50%;
	color: #fff;
	font-size: 18px;
	 -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
	
}
.updown ul li a:hover{
	background: #000;
	border-color: #000;
}
.updown ul li a{
	margin-top: 5px;
	display: inline-block;
	width:  40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
